<!DOCTYPE html>
<html>

    <head>

        <meta charset="Utf-8" />
        <meta name="viewport" content="width=devide-width, initial-scale=1" />

        <link href="../../static/tutorialsApp/css/main.css" rel="stylesheet" />
        <link href="../../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    </head>

    <body>

        <header>Hello Header</header>
        <nav>
            <button>Images</button>
            <button>Preview</button>
        </nav>
        <main>
            <div>
                <h1><input type="text" placeholder="Type here"/></h1>
            </div>
            <div></div>
            <div></div>
        </main>
        <footer></footer>
        <script src="../../../bootstrap/js/bootstrap.bundle.js"></script>

    </body>

</html>
